@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  color: #0c0c0c;
  background-color: #fbfbfb;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}
h1 {
  font-family: "Gilroy";
  font-weight: 600;
}

p {
  font-family: "Gilroy";
  font-weight: 500;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
picture {
  flex-shrink: 0;
  max-width: 100%;
}
input {
  font-family: inherit;
}

.hidden {
  display: none;
}
/* common */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 15px;
  }
}
/* header */
.header {
  margin-bottom: 48px;
  padding: 20px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.logo-header {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-icon {
  display: block;
  stroke-width: 3px;
  stroke: #0c0c0c;
}
.nav-list {
  display: none;
}
.social-media-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 0;
    padding: 26px 32px;
  }
  .logo-header {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-button,
  .menu-icon {
    display: none;
  }
  .header {
    padding: 26px 64.5px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 203px;
  }
  .nav-header {
    display: flex;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: baseline;
    flex-direction: row;
  }
  .social-media-list {
    display: flex;
    gap: 10px;
  }
  .nav-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
  }
  .nav-link.nav-pseudo {
    position: relative;
  }
  .nav-link.nav-pseudo::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    bottom: -6px;
    background-color: #3350e9;
  }

  .social-link-header {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
  }
  .social-link-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-icon:hover,
  .social-link-icon:focus {
    fill: #3350e9;
  }
}
/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(12, 12, 12, 0.92);
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  padding-left: 63px;
  padding-right: 64px;
  height: 100%;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 8.5px;
}
.icon-x {
  display: block;
  stroke-width: 2.5px;
  stroke: #fbfbfb;
  fill: none;
}
.mob-menu-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 260px;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.menu-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
}
.menu-nav-link.nav-pseudo {
  position: relative;
}
.menu-nav-link.nav-pseudo::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  bottom: -6px;
  background-color: #3350e9;
}
.menu-media-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menu-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
}
.menu-social-icon {
  fill: #fbfbfb;
  opacity: 0.8;
}
.menu-social-icon:hover,
.menu-social-icon:focus {
  fill: #fbfbfb;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    position: relative;
    padding-top: 310px;
    padding-bottom: 50px;
    padding-left: 128px;
    padding-right: 129px;
    height: 100%;
  }
  .mobile-menu-close-btn {
    top: 26px;
    right: 32px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .icon-x {
    width: 24px;
    height: 24px;
    stroke-width: 3px;
  }
  .mob-menu-thumb {
    gap: 350px;
  }
  .menu-nav-list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* section hero */
.hero {
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
}

.hero-top-thumb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-header {
  max-width: 335px;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.hero-span {
  color: #3350e9;
}
.hero-text {
  max-width: 335px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.hero-bottom-thumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.img-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 108px;
  height: 44px;
}
.image {
  position: absolute;
  border-radius: 100%;
  width: 44px;
  height: auto;
  border: 2px solid #fbfbfb;
  object-fit: cover;
}

.image1 {
  top: 0;
  left: 0;
  z-index: 1;
}
.image2 {
  top: 0;
  left: 30px;
  z-index: 2;
}
.image3 {
  top: 0;
  left: 60px;
  z-index: 3;
}
.scroll-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button:hover {
  color: #3350e9;
}
.hero-image-container {
  margin-top: 28px;

  height: 366px;
  width: 335px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.2),
      rgba(12, 12, 12, 0.2)
    ),
    url(../images/hero-image.png);

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-clip: padding-box, padding-box;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 80px;
    padding: 80px 32px 0 32px;
  }
  .hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40px;
  }
  .hero-bottom-thumb {
    flex-direction: column;
    align-items: flex-end;
  }
  .hero-header {
    max-width: 557px;
    font-size: 70px;
    line-height: 86%;
  }
  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: 100px;
    padding: 80px 65px 0 65px;
  }
  .hero-container {
    margin-bottom: 40px;
  }
  .hero-bottom-thumb {
    flex-direction: column;
    align-items: flex-end;
  }
  .hero-header {
    max-width: 597px;
    font-size: 72px;
    line-height: 87%;
  }
}
/* about us  */
.about-us-container {
  margin: 0 auto;
}

.about-us-top-thumb {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: #f3f3f3;
}
.about-us-header {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}
.about-us-text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}
.text {
  margin-bottom: 20px;
}
.about-us-btn {
  border-radius: 16px;
  border: none;
  background-color: #3350e9;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 37px;
}
.about-us-image-container {
  border-radius: 30px;
  width: 335px;
  height: 446px;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.2),
      rgba(12, 12, 12, 0.2)
    ),
    url(../images/about-us-image.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-clip: padding-box, padding-box;
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .about-us-top-thumb {
    padding: 80px 60px;
    border-radius: 50px;
  }
  .about-us-header {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }
  .about-us-text {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us {
    margin-bottom: 100px;
  }
  .about-us-text {
    max-width: 460px;
    margin-bottom: 40px;
  }
  .about-us-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .about-us-image-container {
    border-radius: 50px;
    width: 530px;
    height: 532px;
    margin: 0 auto;
  }
}
